/*
Additional styling applied to the RTD theme.
*/

/* Better distinction of blockquotes against normal paragraphs. */
.rst-content blockquote {
    margin-left: 0;
    padding: 0 1em;
    border-left: 0.25em solid #ddd;
    color: #777;
}
